---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Zylis"
	description="about | writings by @advrxh"
	pubDate={new Date("October 16 2024")}
>
	<p>
		Zylis is just a curation of writings with no specific goal or ambition.<br
		/>
		It's just a bunch of pulp. <br />A place for <a
			href="https://advrxh.org"
			target="_blank">@advrxh</a
		>'s words to live in.
	</p>
</Layout>
