---
const today = new Date();
---

<footer>
	<div>
		<p class="template">
			<a
				href="https://github.com/withastro/templates/tree/main/templates/blog"
				>yarn create astro --template blog</a
			>
		</p>
	</div>

	<a href="https://advrxh.org" target="_blank">advrxh</a> &copy; {
		today.getFullYear()
	}
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.template a {
		color: grey;
		text-decoration: none;
		font-size: small;
	}
</style>
